# Build
labfy-investigation
*.o
*.d

# Executables de tests
/tests/test_*

# Conserver les sources des tests
!/tests/test_*.c

# SQLite temporaires
*.sqlite-shm
*.sqlite-wal

# Neovim / LSP
.cache/
compile_commands.json
